@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/styles/variables.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--primaryTextColor);
  margin: 0;
}

html,
body {
  height: 100%;
}
